<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]-->
  <!--[if IE 7]>
    <html class="lt-ie9 lt-ie8" lang="en">
    <![endif]-->
    <!--[if IE 8]>
      <html class="lt-ie9" lang="en">
      <![endif]-->
      <!--[if gt IE 8]>
        <!-->
        <html lang="en">
        <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>{{ meta.title }} | {{ site_title }}</title>
					<meta name="keywords" content="Computational Fabrication, Alexandre Kaspar, Homepage, PhD Student, Texture Synthesis, 2D to 3D videos, Geometry Processing, GPU, MIT, EPFL">
          {% if meta.description %}
          <meta name="description" content="{{ meta.description }}">
          {% else %}
          <meta name="description" content="Homepage of Alexandre Kaspar, PhD Student at Computational Fabrication at MIT">
          {% endif %}
          {% if meta.robots %}
          <meta name="robots" content="{{ meta.robots }}">
          {% endif %}
          <link rel="icon" href="{{ theme_url }}/favicon.ico" type="image/x-icon" />
          <link rel="stylesheet" href="{{ theme_url }}/styles/pure-min.css">
          <link rel="stylesheet" href="{{ theme_url }}/styles/google-ptsans-400-700.css" type="text/css">
          <link href="{{ theme_url }}/styles/main.css" type="text/css" rel="stylesheet">
          <link href="{{ theme_url }}/colorbox/colorbox.css" type="text/css" rel="stylesheet">
        {% if custom_css %}
          <link href="{{ custom_css }}" type="text/css" rel="stylesheet">
        {% endif %}
          <script type="text/javascript" src="{{ theme_url }}/js/respond.min.js"></script>
          <script src="{{ theme_url }}/js/jquery.min.js" type="text/javascript"></script>
          <script src="{{ theme_url }}/js/jquery.colorbox.js" type="text/javascript"></script>
          <script type="text/javascript">
            $(function(){
                $('#content img').colorbox({ href: function(){
                    return $(this).attr('src');
                    }, maxWidth: '90%', maxHeight: '90%', rel: 'images', current: "" /* "{current} / {total}" */}).css('cursor', 'pointer');
            });
          </script>
        </head>
        <body class="{% if not(current_page.url == base_url ~ '/') %}page{% endif %} ns{{ current_page.url | replace({'/': '-'}) }}">
        <!-- {{ current_page.url }} ... {{ base_url }} ... {{ path }} -->
            <!--
          <div id="header" class="pure-g-r">
            <div class="sidebar pure-u">
                <a href="http://w-x.ch" class="inline logo" title="Go home!"></a>
            </div>
            <div class="pure-u-1" id="header-content">
              <p>The page lists some of the projects I was or am working on.</p>
            </div>
        </div> -->
          <div id="header" class="pure-g-r">
            <div class="sidebar pure-u">
                <a href="../" class="inline logo" title="Project page"></a>
            </div>
            <div class="pure-u-1" id="header-content">
                <h1>{{ meta.title }}</h1>
                {% if meta.description %}{{ meta.description }}{% endif %}
            </div>
          </div>
          <div id="content">
            <div class="wrapper">
              <!-- load markdown file here -->
                {% if is_logged %} {% if is_404 %}
                <a href="{{ current_page.url }}?edit"
                    target="_blank" class="admin create">Create</a>
                {% else %}
                <a href="{{ current_page.url }}?edit"
                    target="_blank" class="admin edit">Edit</a>
                {% endif %} {% endif %}
                {% spaceless %}
                {{ content }}
                {% endspaceless %}
        </div>
    </div>
  </body>
</html>
